#product-list-container{
    display: flex;
    width: 100vw;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

#search-bar{
    width: 100%;
}