#header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #454d55;
    border-bottom: 1px solid #e9ecef;
}

#menu-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#login-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}